<p id="notice"><%= notice %></p>
<h1>Booking of the Month</h1>
	<div class="row">
	    <div class="col-md-4">
			<%= month_calendar do |date| %>
			<div class="date"><%= date %></div>
				<% end %>
		</div>
			<div class="col-md-4" >
				<table class="table table-striped table-hover ">
				  <thead>
				    <tr>
				      <th id="js-title">Booking on this date:</th>
				      <th>number of children</th>
				    </tr>
				  </thead>
				  <tbody>
				  <tr class="info">
				      <td id="js-booking_of_the_day"></td>
				      <td id= "js-number_of_children"></td>
				    </tr>
				  </tbody>
				</table>

				<div class="panel panel-success">
				  <div class="panel-heading">
				    <h3 class="panel-title">Employees working on that day</h3>
				  </div>
				  <div class="panel-body">
				    Panel content
				    <p id="js-employees"></p>
				    <button id="js-confirm-btn">Confirm</button>
				  </div>
				</div> 
			</div>

			<div class="js-confirm-box col-md-3 ">
				<div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">Staff available</h3>
				  </div>
				  <div class="panel-body" id="js-available-employee">
				  </div>
				</div>
			</div>
				
	</div>



	