

<h1>Search for Bookings</h1>

	<%= form_tag('/bookings/show_by_day', method: "post") do %>
	  <%= label_tag(:selected_date, "Search for:") %>
	  <%= date_field_tag(:selected_date) %>
	  <%= submit_tag("Search") %>
	<% end %>


	
	
	
	
	